---
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Team from '~/components/widgets/Team.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import FAQs from '~/components/widgets/FAQs.astro';
const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const metadata = {
  title: t('nav.about'),
};
---

<Layout metadata={metadata}>

<Content
tagline=""
title=""
items={[

]}
image={{
 src: '~/assets/images/favicon.svg',
 alt: 'ACMA',
}}
> 

<Fragment slot="content">
  <h1 class="text-3xl font-bold text-accent dark:text-white highlight"> Boosting women participation in the Aerospace sector
      </h1> 
</br>
 <h3 class="text-2xl tracking-tight dark:text-white sm:text-2xl mb-2">
  The Colombian Association of Women in Aerospace is a Non-Profit Entity dedicated to promoting the participation, development and leadership of women in the aerospace field. We join efforts to inspire future generations and highlight the importance of diversity in the sector. 
</h3>
</Fragment>

</Content>

<Steps2 
title="Our Mission"
subtitle="The mission of the Colombian Association of Women in Aerospace is to inspire, empower and propel girls and women in the aerospace field, promoting their inclusion at all levels of training and professional practice, through the creation of a diverse constellation, the promotion of educational and research opportunities, and the strengthening of their presence in academia, industry and society. "
items={[
  {
    title: 'Inclusion',
    description: 'We promote equal opportunities and diversity within the aerospace sector.',
    icon: 'tabler:users',
  },
  {
    title: 'Collaboration',
    description: 'We believe in the power of working together to achieve our common goals.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'Empowerment',
    description: 'We empower women to become leaders and agents of change.',
    icon: 'tabler:star',
  },
]} 
/> 


<Team
tagline=""
title="Our Team"
items={[
  {
    name: 'Maria Alejandra Botero Botero',
    job: 'President',
    src: '~/assets/images/Aleja.jpg',
    socialLinks: [
      {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/mabb/",
          icon: "tabler:brand-linkedin"
      },
      {
          text: "Instagram",
          href: "https://www.instagram.com/alejaboterob/",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  // {
  //   name: 'Daniela Calle',
  //   job: 'Vicepresidenta',
  //   src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
  // },
  // {
  //   name: 'xxx', // Replace 'xxx' with the actual name of the Secretaria
  //   job: 'Secretaria',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Laura Calle',
  //   job: 'Tesorera',
  //   src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
  // },
  // {
  //   name: 'Eliana Álvarez Berrio',
  //   job: 'Relaciones públicas',
  //   src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',   
  // },
  {
    name: 'Juliana Tangarife',
    job: 'Public Relations',
    src: '~/assets/images/Juli.jpeg',
    socialLinks: [
      {
          text: "Instagram",
          href: "https://www.instagram.com/jultan182/",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  {
    name: 'Danna Yuliza Giraldo Orozco',
    job: 'STEAM Committee',
    src: '~/assets/images/Danna.jpeg',
  },
  {
    name: 'Daniela Oviedo',
    job: 'STEAM Committee',
    src: '~/assets/images/Dani.jpg',
    socialLinks: [
      {
          text: "Instagram",
          href: "https://www.instagram.com/astrocuentosbienconta2",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  // {
  //   name: 'Paula Ramos',
  //   job: 'Eventos',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  {
    name: 'Carolina Restrepo',
    job: 'Human Resources',
    src: '~/assets/images/Caro.jpg',
    socialLinks: [
      {
          text: "Instagram",
          href: "https://www.instagram.com/caro.restrepom",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  // {
  //   name: 'Tatiana Gutierrez',
  //   job: 'Consejera',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Karen Álvarez',
  //   job: 'Consejera',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Luz María Martínez',
  //   job: 'Fundadora',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Andrea Martínez',
  //   job: 'Fundadora',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
]}

></Team>


  <!-- Stats Widget ****************** -->

  <Stats
    title="Our Impact"
    stats={[
      { title: 'Members', amount: '300+' },
      { title: 'Events Held', amount: '20+' },
      { title: 'Projects', amount: '10+' },
      { title: 'Scholarships', amount: '10+' },
      // { title: 'Convenios', amount: '1+' },
    ]}
  />

  <!-- Features Widget *************** -->
<Features
id="features"
title="Our Programs"
subtitle="Discover how we are boosting growth and participation of women in the aerospace sector. We provide opportunities and development spaces for women to shine in the aerospace sector."
columns={3}
items={[
  {
    title: 'Talks and Conferences',
    description: 'We provide spaces for dialogue and learning to promote the exchange of knowledge and experiences in the aerospace sector.',
    icon: 'tabler:presentation',
  },
  {
    title: 'Mentorships',
    description: 'We connect women with professionals in the aerospace sector to provide guidance and support.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'University Fairs',	
    description: 'We participate in the organization of university fairs to promote women´s interest in the aerospace sector.',	
    icon: 'tabler:stars',
  },
  {
    title: 'Challenges and Hackathons',
    description: 'We support diverse teams in aerospace competitions and hackathons.',	
    icon: 'tabler:trophy',
  },
  {
    title: 'Research Projects',
    description: 'We collaborate in research projects in the aerospace sector.',	
    icon: 'tabler:device-laptop',
  },
  {
    title: 'Scholarships',
    description: 'We offer scholarships to promote access and professional development in the aerospace sector.',
    icon: 'tabler:award',
  },
]}
/>

  <!-- Features2 Widget ************** -->

  <Features2
    id="joinus"
    title="Become a part of our constellation"
    tagline=""
    columns={3}
    items={[
      {
        title: 'As a Member',
        description: 'Join and access all the resources, events and programs we offer. As a member, you will benefit from a constellation of support that fosters personal and professional growth.',
        icon: 'tabler:user-plus', 
        callToAction: {
          target: '_blank',
          text: 'Register now',
          href: 'https://forms.gle/BVzbFWKxKjwiaxJx9',
        },
      },
      {
        title: 'As a Volunteer',
        description: 'Collaborate in our initiatives and events. It is an excellent way to contribute to our mission, while gaining valuable experience and knowledge in the sector. Join our team!',
        icon: 'tabler:user-heart',
        callToAction: {
          target: '_blank',
          text: 'Register now',
          href: 'https://forms.gle/r9PGQRniKetDTtFn6',
        },
      },
      {
        title: 'As a Sponsor',
        description:'Support our association and our programs. Together, we can promote the participation and empowerment of women in the aerospace sector.',
        icon: 'tabler:user-dollar',
        callToAction: {
          text: 'Contact us',
          href: 'mailto:acma.directiva@gmail.com',
          target: '_blank',
        },
      },
    ]}  
  />

  <!-- FAQ -->
  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What is ACMA?',
        description:
          'The Colombian Association of Women in Aerospace is a non-profit entity that promotes the participation, development and leadership of women in the aerospace field.',
      }, 
      {
        title: 'How can I join ACMA?',
        description:
          'You can join ACMA as a member, volunteer or sponsor. Visit our section <a href="#joinus" class="text-accent dark:text-primary">Become a part of our constellation</a> for more information.',
      },
      {
        title: "Who is part of  ACMA's Constellation?",
        description:
          'The ACMA constellation is a support network made up of women and men in various areas and at all academic and professional levels, committed to promoting the participation and leadership of women in the aerospace sector.',
      },
      {
        title: "I'm a man, can I join ACMA?",
        description:
          'Of course! ACMA is an inclusive association that values and appreciates the collaboration of men committed to promoting the participation and leadership of women in the aerospace sector.',
      }, 
      {
        title: 'What activities does ACMA carry out?',
        description:
          'ACMA carries out a variety of activities, such as talks, conferences, mentorships, university fairs, competitions, hackathons, research projects and scholarships. Do you want to do an activity in your school, company or university? Contact us!',
      },
      {
        title: 'What benefits do I get by joining ACMA?',
        description:
          'By joining ACMA, you will have access to many opportunities, resources, events and programs that promote your personal and professional growth. You will also be part of a support constellation that will help you achieve your goals in the aerospace sector.',
      },
      {
        title: 'How can I donate to ACMA?',
        description:
          'You can donate to ACMA in cash, kind or services, by contacting us through our email or social networks. Your donation will help us promote the participation and empowerment of women in the aerospace sector. You will be able to have your logo on our website and social networks as an official sponsor of ACMA. Thank you for your support!',
      },
      {
        title: 'How can I collaborate with ACMA?',
        description:
          'You can collaborate with ACMA as a volunteer in our initiatives and events. You can also support us as a sponsor of our association and our programs. Together, we can promote the participation and empowerment of women in the aerospace sector!',
      },
      {
        title: 'How can I contact ACMA?',
        description:
          'You can contact ACMA through our email or social networks. Visit our <a class="text-accent dark:text-primary" href="/en/contact">"Contact us"</a> section for more information.',
      },
      {
        title: 'How can I be part of ACMA’s Board of Directors?',
        description:
          'If you are interested in being part of ACMA’s Board of Directors, you can apply as a candidate in our elections. Your leadership and commitment are essential for the growth and success of our association!',
      },
      {
        title: 'How can I be part of an ACMA project or event?',
        description:
          'If you are interested in being part of an ACMA project or event, you can join as a volunteer in our initiatives. We will give you a certificate of participation and the opportunity to acquire valuable contacts, experience and knowledge in the aerospace sector.',
      },
      {
        title: 'How can I get a scholarship from ACMA?',
        description:
          'You can get a scholarship from ACMA by participating in our calls for applications. Scholarships are awarded to women who demonstrate academic excellence, leadership and commitment to the aerospace sector. Do not hesitate to apply and shine with ACMA!',
      }, 
  ]}
  </FAQs>
</Layout>