---
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const metadata = {
  title: t('nav.events'),
};
---

<Layout metadata={metadata}>


<center>

<section id="eventos">
  <h1>{t('nav.events')}</h1>
  <p>Here you can check our updated calendar of events, workshops, talks, and more.</p>

  <iframe 
    src="https://luma.com/embed/calendar/cal-Rm6fnGe9eB88fab/events" 
    width="100%" 
    height="800" 
    style="border: none; overflow: hidden;" 
    frameborder="0" 
    allowfullscreen>
  </iframe>
  
  <p style="margin-top: 1em;">
    <a href="https://luma.com/acmacolombia?k=c" target="_blank" rel="noopener noreferrer">
    If you can't see the calendar, click here.
    </a>
  </p>
</section>


</center>

</Layout>