---
import '~/components/widgets/team.css';
---

<div class="team-section">
    <h2>Our Team</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <div class="team-members">
      <div class="team-member">
        <img src="https://picsum.photos/700/400?random" alt="Jhone Bi">
        <h3>Jhone Bi</h3>
        <p>Application Manager</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="https://picsum.photos/700/400?random" alt="Sani Awesome">
        <h3>Sani Awesome</h3>
        <p>Social Media</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="https://picsum.photos/700/400?random"  alt="Andrio Willi">
        <h3>Andrio Willi</h3>
        <p>Content Writer</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="https://picsum.photos/700/400?random" alt="Afa Jonson">
        <h3>Afa Jonson</h3>
        <p>Business Manager</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>