---
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features4 from '~/components/widgets/Features4.astro';
// import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Team from '~/components/widgets/Team.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Testimonials2 from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { s } from 'dist/chunks/astro_C68faHdX.mjs';
const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const metadata = {
  title: t('nav.about'),
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<!-- 
  <Hero
    tagline=""
    image={{
      src: '~/assets/images/favicon.svg',
      alt: 'ACMA',
     }}
  >
    <Fragment slot="title">
      Impulsamos la participación de las Mujeres
      <span class="text-accent dark:text-white highlight">en el sector Aeroespacial</span>
    </Fragment>

    <Fragment slot="subtitle">
      La Asociación Colombiana de Mujeres en Aeroespacial se dedica a promover la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial. Unimos esfuerzos para inspirar a futuras generaciones y destacar la importancia de la diversidad en el sector.
    </Fragment>
  </Hero> -->

<Content
tagline=""
title=""
items={[

]}
image={{
 src: '~/assets/images/favicon.svg',
 alt: 'ACMA',
}}
> 

<Fragment slot="content">
  <h1 class="text-3xl font-bold text-accent dark:text-white highlight"> Impulsamos la participación de las Mujeres en el sector Aeroespacial </h1> 
</br>
 <h3 class="text-2xl tracking-tight dark:text-white sm:text-2xl mb-2">
La Asociación Colombiana de Mujeres en Aeroespacial es una Entidad Sin Ánimo de Lucro dedicada a promover la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial. Unimos esfuerzos para inspirar a futuras generaciones y destacar la importancia de la diversidad en el sector.
</h3>
</Fragment>

</Content>

<!-- Content Widget **************** -->

<!-- <Content
isReversed
tagline=""
title="Nuestra Misión"
items={[

]}
image={{
 src: '~/assets/images/favicon.svg',
 alt: 'ACMA',
}}
>
<Fragment slot="content">
 <h3 class="text-2xl tracking-tight dark:text-white sm:text-2xl mb-2">   
La Asociación Colombiana de Mujeres en Aeroespacial tiene como misión inspirar, empoderar y propulsar a niñas y mujeres en el campo aeroespacial, promoviendo su inclusión en todos los niveles de formación y ejercicio profesional, a través de la creación de una constelación diversa, la promoción de oportunidades educativas e investigativas, y el fortalecimiento de su presencia en la academia, la industria y la sociedad.
</h3>

</Fragment>

<Fragment slot="bg">
 <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content> -->

<Steps2 
title="Nuestra Misión"
subtitle="La Asociación Colombiana de Mujeres en Aeroespacial tiene como misión inspirar, empoderar y propulsar a niñas y mujeres en el campo aeroespacial, promoviendo su inclusión en todos los niveles de formación y ejercicio profesional, a través de la creación de una constelación diversa, la promoción de oportunidades educativas e investigativas, y el fortalecimiento de su presencia en la academia, la industria y la sociedad."
items={[
  {
    title: 'Inclusión',
    description: 'Promovemos la igualdad de oportunidades y la diversidad dentro del sector aeroespacial.',
    icon: 'tabler:users',
  },
  {
    title: 'Colaboración',
    description: 'Creemos en el poder de trabajar juntos para alcanzar nuestros objetivos comunes.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'Empoderamiento',
    description: 'Empoderamos a las mujeres para que se conviertan en líderes y agentes de cambio.',
    icon: 'tabler:star',
  },
]}
/> 

<Team
tagline=""
title="Nuestro Equipo"
items={[
  {
    name: 'Maria Alejandra Botero Botero',
    job: 'Presidenta',
    src: '~/assets/images/Aleja.jpg',
    socialLinks: [
      {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/mabb/",
          icon: "tabler:brand-linkedin"
      },
      {
          text: "Instagram",
          href: "https://www.instagram.com/alejaboterob/",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  // {
  //   name: 'Daniela Calle',
  //   job: 'Vicepresidenta',
  //   src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
  // },
  // {
  //   name: 'xxx', // Replace 'xxx' with the actual name of the Secretaria
  //   job: 'Secretaria',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Laura Calle',
  //   job: 'Tesorera',
  //   src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
  // },
  // {
  //   name: 'Eliana Álvarez Berrio',
  //   job: 'Relaciones públicas',
  //   src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',   
  // },
  {
    name: 'Juliana Tangarife',
    job: 'Relaciones públicas',
    src: '~/assets/images/Juli.jpeg',
    socialLinks: [
      {
          text: "Instagram",
          href: "https://www.instagram.com/jultan182/",
          icon: "tabler:brand-instagram"
      },
    ]
  },
  {
    name: 'Danna Yuliza Giraldo Orozco',
    job: 'Comité STEAM',
    src: '~/assets/images/Danna.jpeg',
  },
  // {
  //   name: 'Daniela Oviedo',
  //   job: 'Comité STEAM',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Paula Ramos',
  //   job: 'Eventos',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Carolina Restrepo',
  //   job: 'Gestión Humana',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Tatiana Gutierrez',
  //   job: 'Consejera',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Karen Álvarez',
  //   job: 'Consejera',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Luz María Martínez',
  //   job: 'Fundadora',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
  // {
  //   name: 'Andrea Martínez',
  //   job: 'Fundadora',
  //   src: 'https://placeholder.com/image', // Replace with the appropriate image URL
  // },
]}

></Team>

<!-- Stats Widget ****************** -->

<Stats
  title="Nuestro Impacto"
  stats={[
    { title: 'Miembros', amount: '400+' },
    { title: 'Eventos Realizados', amount: '20+' },
    { title: 'Proyectos', amount: '10+' },
    { title: 'Becas', amount: '10+' },
      // { title: 'Convenios', amount: '1+' },
  ]}
/>

<!-- Features Widget *************** -->
<Features
id="features"
title="Nuestros Proyectos"
subtitle="Descubre cómo estamos impulsando el crecimiento y la participación de las mujeres en el sector aeroespacial. Brindamos oportunidades y espacios de desarrollo para que las mujeres brillen en el sector aeroespacial."
columns={3}
items={[
  {
    title: 'Charlas y Conferencias',
    description:
      'Brindamos espacios de diálogo y aprendizaje para fomentar el intercambio de conocimientos y experiencias en el sector aeroespacial.',
    icon: 'tabler:presentation',
  },
  {
    title: 'Mentorías',
    description: 'Conectamos a mujeres con profesionales del sector aeroespacial para brindar orientación y apoyo.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'Ferias Universitarias',
    description: 'Participamos en la organización de ferias universitarias para promover el interés de las mujeres en el sector aeroespacial.',
    icon: 'tabler:stars',
  },
  {
    title: 'Concursos y Hackathons',
    description: 'Apoyamos equipos diversos en concursos y hackathons aeroespaciales.',
    icon: 'tabler:trophy',
  },
  {
    title: 'Proyectos de Investigación',
    description:
      'Colaboramos en proyectos de investigación en el sector aeroespacial.',
    icon: 'tabler:device-laptop',
  },
  {
    title: 'Becas',
    description: 'Ofrecemos becas para fomentar el acceso y el desarrollo profesional en el sector aeroespacial.',
    icon: 'tabler:award',
  },
]}
/>


  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Nuestro Propelente"
    tagline=""
    columns={4}
    items={[
      {
        title: 'Inclusión',
        description: 'Promovemos la igualdad de oportunidades y la diversidad dentro del sector aeroespacial.',
      },
      {
        title: 'Innovación',
        description: 'Fomentamos la innovación y la creatividad en todos nuestros proyectos y programas.',
      },
      {
        title: 'Colaboración',
        description: 'Creemos en el poder de trabajar juntos para alcanzar nuestros objetivos comunes.',
      },
      {
        title: 'Empoderamiento',
        description: 'Empoderamos a las mujeres para que se conviertan en líderes y agentes de cambio en el sector aeroespacial.',
      },
    ]}
  /> -->




  <!-- Features3 Widget ************** -->

  <!-- <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Steps2 Widget ******************

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    id="joinus"
    title="Sé parte de nuestra constelación"
    tagline=""
    columns={3}
    items={[
      {
        title: 'Como Miembro',
        description:
          'Únete y accede a todos los recursos, eventos y programas que ofrecemos. Al ser miembro, te beneficiarás de una constelación de apoyo que fomenta el crecimiento personal y profesional.',
        icon: 'tabler:user-plus', 
        callToAction: {
          target: '_blank',
          text: 'Inscríbete ahora',
          href: 'https://forms.gle/BVzbFWKxKjwiaxJx9',
        },
      },
      {
        title: 'Como Voluntario',
        description:
        "Colabora en nuestras iniciativas y eventos. Es una excelente manera de contribuir a nuestra misión, mientras ganas experiencia y conocimientos valiosos en el sector. ¡Únete a nuestro equipo!",
        icon: 'tabler:user-heart',
        callToAction: {
          target: '_blank',
          text: 'Inscríbete ahora',
          href: 'https://forms.gle/r9PGQRniKetDTtFn6',
        },
      },
      {
        title: 'Como Patrocinador',
        description:
        "Despega con nosotras. Apoya nuestra asociación y nuestros programas. Juntos, podemos promover la participación y empoderamiento de las mujeres en el sector aeroespacial.",
        icon: 'tabler:user-dollar',
        callToAction: {
          text: 'Escríbenos',
          href: 'mailto:acma.directiva@gmail.com',
          target: '_blank',
        },
      },
    ]}  
  />

  <!-- FAQ -->
  <FAQs
  title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué es ACMA?',
        description:
          'La Asociación Colombiana de Mujeres en Aeroespacial es una entidad sin ánimo de lucro que promueve la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial.',
      },
      {
        title: '¿Cómo puedo unirme a ACMA?',
        description:
            'Puedes unirte a ACMA como miembro, voluntario o patrocinador. Visita nuestra sección <a href="#joinus" class="text-accent dark:text-primary">Sé parte de nuestra constelación</a> para obtener más información.',
      },
      {
        title: '¿Quiénes conforman nuestra constelación ACMA?', 
        description:
          'La constelación de ACMA es una red de apoyo conformada por mujeres y hombres en diversas áreas y de todos los niveles académicos y profesionales, comprometidos con la promoción de la participación y el liderazgo de las mujeres en el sector aeroespacial.',
      },
      {
        title: '¿Soy hombre, puedo unirme a ACMA?',
        description:
          '¡Por supuesto! ACMA es una asociación inclusiva que valora y aprecia la colaboración de hombres comprometidos con la misión de promover la participación y el liderazgo de las mujeres en el sector aeroespacial.',
      },
      {
        title: '¿Qué actividades realiza ACMA?',
        description:
          'ACMA realiza una variedad de actividades, como charlas, conferencias, mentorías, ferias universitarias, concursos, hackathons, proyectos de investigación y becas. ¿Quieres hacer una actividad en tu colegio, empresa o universidad? ¡Contáctanos!',
      },
      {
        title: '¿Qué beneficios obtengo al unirme a ACMA?',
        description:
          'Al unirte a ACMA, tendrás acceso a gran cantidad de oportunidades, recursos, eventos y programas que fomentan tu crecimiento personal y profesional. Además, formarás parte de una constelación de apoyo que te ayudará a alcanzar tus metas en el sector aeroespacial.',
      },
      {
        title: '¿Cómo puedo donar a ACMA?',
        description:
          'Puedes donar a ACMA en efectivo, especie o servicios, contactándonos a través de nuestro correo electrónico o redes sociales. Tu donación nos ayudará a promover la participación y empoderamiento de las mujeres en el sector aeroespacial. Podrás tener tu logo en nuestra página web y redes sociales como patrocinador oficial de ACMA. ¡Gracias por tu apoyo!',
      },
      {
        title: '¿Cómo puedo colaborar con ACMA?',
        description:
          'Puedes colaborar con ACMA como voluntario en nuestras iniciativas y eventos. También puedes apoyarnos como patrocinador de nuestra asociación y nuestros programas. ¡Juntos, podemos promover la participación y empoderamiento de las mujeres en el sector aeroespacial!',
      },
      {
        title: '¿Cómo puedo contactar a ACMA?',
        description:
          'Puedes contactar a ACMA a través de nuestro correo electrónico o redes sociales. Visita nuestra sección <a class="text-accent dark:text-primary" href="/contact">"Contáctanos"</a> para obtener más información.',
      },
      {
        title: '¿Cómo puedo ser parte de la Junta Directiva de ACMA?',
        description:
          'Si estás interesada en formar parte de la Junta Directiva de ACMA, puedes postularte como candidata en nuestras elecciones. ¡Tu liderazgo y compromiso son fundamentales para el crecimiento y éxito de nuestra asociación!',
      },
      {
        title: '¿Cómo puedo ser parte de un proyecto o evento de ACMA?',
        description:
          'Si estás interesado en ser parte de un proyecto o evento de ACMA, puedes unirte como voluntario en nuestras iniciativas. Te daremos un certificado de participación y la oportunidad de adquirir contactos, experiencia y conocimientos valiosos en el sector aeroespacial.',
      },
      {
        title: '¿Cómo puedo obtener una beca de ACMA?',
        description:
          'Puedes obtener una beca de ACMA participando en nuestras convocatorias. Las becas se otorgan a mujeres que demuestran excelencia académica, liderazgo y compromiso con el sector aeroespacial. ¡No dudes en postularte y brillar con ACMA!',
      },
  ]}
  </FAQs>
</Layout>