---
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Team from '~/components/widgets/Team.astro';
import Steps2 from '~/components/widgets/Steps2.astro';


const metadata = {
  title: 'Sobre ACMA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<!-- 
  <Hero
    tagline=""
    image={{
      src: '~/assets/images/favicon.svg',
      alt: 'ACMA',
     }}
  >
    <Fragment slot="title">
      Impulsamos la participación de las Mujeres
      <span class="text-accent dark:text-white highlight">en el sector Aeroespacial</span>
    </Fragment>

    <Fragment slot="subtitle">
      La Asociación Colombiana de Mujeres en Aeroespacial se dedica a promover la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial. Unimos esfuerzos para inspirar a futuras generaciones y destacar la importancia de la diversidad en el sector.
    </Fragment>
  </Hero> -->

<Content
tagline=""
title=""
items={[

]}
image={{
 src: '~/assets/images/favicon.svg',
 alt: 'ACMA',
}}
> 

<Fragment slot="content">
  <h1 class="text-3xl font-bold text-accent dark:text-white highlight"> Impulsamos la participación de las Mujeres en el sector Aeroespacial </h1> 
</br>
 <h3 class="text-2xl tracking-tight dark:text-white sm:text-2xl mb-2">
La Asociación Colombiana de Mujeres en Aeroespacial se dedica a promover la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial. Unimos esfuerzos para inspirar a futuras generaciones y destacar la importancia de la diversidad en el sector.
</h3>
</Fragment>

</Content>

<!-- Content Widget **************** -->

<!-- <Content
isReversed
tagline=""
title="Nuestra Misión"
items={[

]}
image={{
 src: '~/assets/images/favicon.svg',
 alt: 'ACMA',
}}
>
<Fragment slot="content">
 <h3 class="text-2xl tracking-tight dark:text-white sm:text-2xl mb-2">   
La Asociación Colombiana de Mujeres en Aeroespacial tiene como misión inspirar, empoderar y propulsar a niñas y mujeres en el campo aeroespacial, promoviendo su inclusión en todos los niveles de formación y ejercicio profesional, a través de la creación de una constelación diversa, la promoción de oportunidades educativas e investigativas, y el fortalecimiento de su presencia en la academia, la industria y la sociedad.
</h3>

</Fragment>

<Fragment slot="bg">
 <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content> -->

<Steps2 
title="Nuestra Misión"
subtitle="La Asociación Colombiana de Mujeres en Aeroespacial tiene como misión inspirar, empoderar y propulsar a niñas y mujeres en el campo aeroespacial, promoviendo su inclusión en todos los niveles de formación y ejercicio profesional, a través de la creación de una constelación diversa, la promoción de oportunidades educativas e investigativas, y el fortalecimiento de su presencia en la academia, la industria y la sociedad."
items={[
  {
    title: 'Inclusión',
    description: 'Promovemos la igualdad de oportunidades y la diversidad dentro del sector aeroespacial.',
    icon: 'tabler:users',
  },
  {
    title: 'Colaboración',
    description: 'Creemos en el poder de trabajar juntos para alcanzar nuestros objetivos comunes.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'Empoderamiento',
    description: 'Empoderamos a las mujeres para que se conviertan en líderes y agentes de cambio.',
    icon: 'tabler:star',
  },
]}
/> 

<!-- <Team>
  <Fragment slot="title">
    Nuestro Equipo
  </Fragment>

  <Fragment slot="subtitle">
    Conoce a las mujeres que lideran y hacen posible la misión de la Asociación Colombiana de Mujeres en Aeroespacial.
  </Fragment>

  <Fragment slot="content">
    <p>
      Nuestro equipo está conformado por mujeres apasionadas y comprometidas con la promoción de la participación y el liderazgo de las mujeres en el sector aeroespacial. Juntas, trabajamos para inspirar, empoderar y propulsar a niñas y mujeres en el campo aeroespacial, promoviendo su inclusión en todos los niveles de formación y ejercicio profesional.
    </p>
  </Fragment>
</Team>

-->

<!-- <Features2
tagline=""
title="Nuestro equipo"
items={[
  {
    title: 'Maria Alejandra Botero Botero',
    description: 'Presidenta',
    image: {
      src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
      alt: 'Maria Alejandra Botero Botero Image',
    },
  },
  {
    title: 'Daniela Calle',
    description: 'Vicepresidenta',
    image: {
      src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Daniela Calle Image',
    },
  },
  {
    title: 'xxx', // Replace 'xxx' with the actual name of the Secretaria
    description: 'Secretaria',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Secretaria Image',
    },
  },
  {
    title: 'Laura Calle',
    description: 'Tesorera',
    image: {
      src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
      alt: 'Laura Calle Image',
    },
  },
  {
    title: 'Eliana Álvarez Berrio',
    description: 'Relaciones públicas',
    image: {
      src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',   
      alt: 'Eliana Álvarez Berrio Image',
    },
  },
  {
    title: 'Juliana Tangarife',
    description: 'Relaciones públicas',
    image: {
      src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Juliana Tangarife Image',
    },
  },
  {
    title: 'Danna Yuliza Giraldo Orozco',
    description: 'STEAM',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Danna Yuliza Giraldo Orozco Image',
    },
  },
  {
    title: 'Daniela Oviedo',
    description: 'STEAM',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Daniela Oviedo Image',
    },
  },
  {
    title: 'Paula Ramos',
    description: 'Eventos',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Paula Ramos Image',
    },
  },
  {
    title: 'Carolina Restrepo',
    description: 'Gestión Humana',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Carolina Restrepo Image',
    },
  },
  {
    title: 'Tatiana Gutierrez',
    description: 'Consejeros',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Tatiana Gutierrez Image',
    },
  },
  {
    title: 'Luz María Martínez',
    description: 'Fundadoras',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Luz María Martínez Image',
    },
  },
  {
    title: 'Andrea Martínez',
    description: 'Fundadoras',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Andrea Martínez Image',
    },
  },
  {
    title: 'Karen Álvarez',
    description: 'Representante legal',
    image: {
      src: 'https://placeholder.com/image', // Replace with the appropriate image URL
      alt: 'Karen Álvarez Image',
    },
  },
]}
/> -->

  <!-- Stats Widget ****************** -->

  <Stats
    title="Nuestro Impacto"
    stats={[
      { title: 'Miembros', amount: '400+' },
      { title: 'Eventos Realizados', amount: '20+' },
      { title: 'Proyectos', amount: '10+' },
      { title: 'Becas', amount: '20+' },
      // { title: 'Convenios', amount: '1+' },
    ]}
  />

  <!-- Features Widget *************** -->
<Features
id="features"
title="Nuestros Proyectos"
subtitle="Descubre cómo estamos impulsando el crecimiento y la participación de las mujeres en el sector aeroespacial. Brindamos oportunidades y espacios de desarrollo para que las mujeres brillen en el sector aeroespacial."
columns={3}
items={[
  {
    title: 'Charlas y Conferencias',
    description:
      'Brindamos espacios de diálogo y aprendizaje para fomentar el intercambio de conocimientos y experiencias en el sector aeroespacial.',
    icon: 'tabler:presentation',
  },
  {
    title: 'Mentorías',
    description: 'Conectamos a mujeres con profesionales del sector aeroespacial para brindar orientación y apoyo.',
    icon: 'tabler:heart-handshake',
  },
  {
    title: 'Ferias Universitarias',
    description: 'Participamos en la organización de ferias universitarias para promover el interés de las mujeres en el sector aeroespacial.',
    icon: 'tabler:stars',
  },
  {
    title: 'Concursos y Hackathons',
    description: 'Apoyamos equipos diversos en concursos y hackathons aeroespaciales.',
    icon: 'tabler:trophy',
  },
  {
    title: 'Proyectos de Investigación',
    description:
      'Colaboramos en proyectos de investigación en el sector aeroespacial.',
    icon: 'tabler:device-laptop',
  },
  {
    title: 'Becas',
    description: 'Ofrecemos becas para fomentar el acceso y el desarrollo profesional en el sector aeroespacial.',
    icon: 'tabler:award',
  },
]}
/>


  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Nuestro Propelente"
    tagline=""
    columns={4}
    items={[
      {
        title: 'Inclusión',
        description: 'Promovemos la igualdad de oportunidades y la diversidad dentro del sector aeroespacial.',
      },
      {
        title: 'Innovación',
        description: 'Fomentamos la innovación y la creatividad en todos nuestros proyectos y programas.',
      },
      {
        title: 'Colaboración',
        description: 'Creemos en el poder de trabajar juntos para alcanzar nuestros objetivos comunes.',
      },
      {
        title: 'Empoderamiento',
        description: 'Empoderamos a las mujeres para que se conviertan en líderes y agentes de cambio en el sector aeroespacial.',
      },
    ]}
  /> -->

  <!-- <Testimonials2
  title="Junta Directiva"
  testimonials={[
{
      testimonial: ``,
      name: 'Maria Alejandra Botero Botero',
      job: 'Presidenta',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Maria Alejandra Botero Botero Image',
      },
    },
    {
      testimonial: ``,
      name: 'Daniela Calle',
      job: 'Vicepresidenta',
      image: {
        src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
        alt: 'Daniela Calle Image',
      },
    },
    {
      testimonial: ``,
      name: 'xxx', // Replace 'xxx' with the actual name of the Secretaria
      job: 'Secretaria',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Secretaria Image',
      },
    },
    {
      testimonial: ``,
      name: 'Laura Calle',
      job: 'Tesorera',
      image: {
        src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
        alt: 'Laura Calle Image',
      },
    },
    {
      testimonial: ``,
      name: 'Eliana Álvarez Berrio',
      job: 'Relaciones públicas',
      image: {
        src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
        alt: 'Eliana Álvarez Berrio Image',
      },
    },
    {
      testimonial: ``,
      name: 'Juliana Tangarife',
      job: 'Relaciones públicas',
      image: {
        src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
        alt: 'Juliana Tangarife Image',
      },
    },
    {
      testimonial: ``,
      name: 'Danna Yuliza Giraldo Orozco',
      job: 'STEAM',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Danna Yuliza Giraldo Orozco Image',
      },
    },
    {
      testimonial: ``,
      name: 'Daniela Oviedo',
      job: 'STEAM',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Daniela Oviedo Image',
      },
    },
    {
      testimonial: ``,
      name: 'Paula Ramos',
      job: 'Eventos',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Paula Ramos Image',
      },
    },
    {
      testimonial: ``,
      name: 'Carolina Restrepo',
      job: 'Gestión Humana',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Carolina Restrepo Image',
      },
    },
    {
      testimonial: ``,
      name: 'Tatiana Gutierrez',
      job: 'Consejeros',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Tatiana Gutierrez Image',
      },
    },
    {
      testimonial: ``,
      name: 'Luz María Martínez',
      job: 'Fundadoras',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Luz María Martínez Image',
      },
    },
    {
      testimonial: ``,
      name: 'Andrea Martínez',
      job: 'Fundadoras',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Andrea Martínez Image',
      },
    },
    {
      testimonial: ``,
      name: 'Karen Álvarez',
      job: 'Representante legal',
      image: {
        src: 'https://placeholder.com/image', // Replace with the appropriate image URL
        alt: 'Karen Álvarez Image',
      },
    },

    // Repeat for other members of the Junta Directiva as necessary
  ]}
/> -->




  <!-- Features3 Widget ************** -->

  <!-- <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Steps2 Widget ******************

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    id="joinus"
    title="Sé parte de nuestra constelación"
    tagline=""
    columns={3}
    items={[
      {
        title: 'Como Miembro',
        description:
          'Únete y accede a todos los recursos, eventos y programas que ofrecemos. Al ser miembro, te beneficiarás de una constelación de apoyo que fomenta el crecimiento personal y profesional.',
        icon: 'tabler:user-plus', 
        callToAction: {
          target: '_blank',
          text: 'Inscríbete ahora',
          href: 'https://forms.gle/BVzbFWKxKjwiaxJx9',
        },
      },
      {
        title: 'Como Voluntario',
        description:
        "Colabora en nuestras iniciativas y eventos. Es una excelente manera de contribuir a nuestra misión, mientras ganas experiencia y conocimientos valiosos en el sector. ¡Únete a nuestro equipo!",
        icon: 'tabler:user-heart',
        callToAction: {
          target: '_blank',
          text: 'Inscríbete ahora',
          href: 'https://forms.gle/r9PGQRniKetDTtFn6',
        },
      },
      {
        title: 'Como Patrocinador',
        description:
        "Despega con nosotras. Apoya nuestra asociación y nuestros programas. Juntos, podemos promover la participación y empoderamiento de las mujeres en el sector aeroespacial.",
        icon: 'tabler:user-dollar',
        callToAction: {
          text: 'Escríbenos',
          href: 'mailto:acma.directiva@gmail.com',
        },
      },
    ]}  
  />
</Layout>