---
import Layout from '~/layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const metadata = {
  title: t('nav.events'),
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<!-- 
  <Hero
    tagline=""
    image={{
      src: '~/assets/images/favicon.svg',
      alt: 'ACMA',
     }}
  >
    <Fragment slot="title">
      Impulsamos la participación de las Mujeres
      <span class="text-accent dark:text-white highlight">en el sector Aeroespacial</span>
    </Fragment>

    <Fragment slot="subtitle">
      La Asociación Colombiana de Mujeres en Aeroespacial se dedica a promover la participación, el desarrollo y el liderazgo de las mujeres en el campo aeroespacial. Unimos esfuerzos para inspirar a futuras generaciones y destacar la importancia de la diversidad en el sector.
    </Fragment>
  </Hero> -->



<iframe
  src="https://luma.com/embed/calendar/cal-Rm6fnGe9eB88fab/events"
  width="600"
  height="450"
  frameborder="0"
  style="border: 1px solid #bfcbda88; border-radius: 4px;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>


</Layout>