---
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre ACMA',
};
---

<Layout metadata={metadata} >
  <!-- Hero Widget ******************* -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSflRQBsftLug4uyxL7EiRKdwFI1v-_k2zon9IbR8AgIHO-KqQ/viewform?embedded=true" 
  width="100%" height="2400px">Cargando…</iframe>
</div>
</Layout>
