---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

import { getLocalizedPermalink } from '~/utils/permalinks';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const metadata = {
  title: t('acma'),
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->  
  <Hero2
    tagline="Asociación Colombiana de Mujeres en Aeroespacial"
    actions={[
      {
        variant: 'primary',
        text: 'Únete',
        href: getLocalizedPermalink('/about#joinus'),
        icon: 'tabler:rocket',
      },
    ]}
    image={{
      src: '~/assets/images/ACMA.png',
      alt: 'ACMA Logo',
      style: 'max-width: 80%; height: auto;',
    }}
  >
    <Fragment slot="title">
      ACMA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Somos tu aliado para brillar en el campo aeroespacial, cultivando una constelación diversa que impulsa tu crecimiento personal y profesional.
      </span>
    </Fragment>
  </Hero2>

<!-- Stats Widget ****************** -->
<Stats
title="Descubre el universo ACMA"
subtitle="Somos una comunidad diversa y talentosa dedicada a promover la inclusión, el desarrollo profesional y la participación de las mujeres en el sector aeroespacial."
stats={[
  // { title: 'Lanzada en', amount: '2021' },
  { title: 'Miembros', amount: '300+' },
  { title: 'Eventos Realizados', amount: '20+' },
  { title: 'Proyectos', amount: '10+' },
  { title: 'Becas', amount: '10+' },
]}
/>

<!-- Features Widget *************** -->
<Features
 id="features"
 title="Nuestros proyectos"
 subtitle="Descubre cómo estamos impulsando el crecimiento y la participación de las mujeres en el sector aeroespacial. Brindamos oportunidades y espacios de desarrollo para que las mujeres brillen en el sector aeroespacial."
 columns={3}
 items={[
   {
     title: 'Charlas y Conferencias',
     description:
       'Brindamos espacios de diálogo y aprendizaje para fomentar el intercambio de conocimientos y experiencias.',
     icon: 'tabler:presentation',
   },
   {
     title: 'Mentorías',
     description: 'Conectamos a mujeres con profesionales para brindar orientación y apoyo.',
     icon: 'tabler:heart-handshake',
   },
   {
     title: 'Ferias Universitarias',
     description: 'Participamos en la organización de ferias universitarias para promover el interés de las mujeres en carreras de  ciencia e ingeniería.',
     icon: 'tabler:stars',
   },
   {
     title: 'Concursos y Hackathons',
     description: 'Apoyamos equipos diversos en concursos y hackathons.',
     icon: 'tabler:trophy',
   },
   {
     title: 'Proyectos de Investigación',
     description:
       'Colaboramos en proyectos de investigación.',
     icon: 'tabler:device-laptop',
   },
   {
     title: 'Becas',
     description: 'Ofrecemos becas para fomentar el acceso y el desarrollo profesional.',
     icon: 'tabler:award',
   },
 ]}
/>

 <!-- Brands Widget ******************
 <Brands
 title="Aliados"
 subtitle="En ACMA, confiamos en el poder de la colaboración para impulsar la innovación y crecer juntos en el sector aeroespacial."
 icons={[]}
 images={[
   {
     src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
     alt: 'Paypal',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
     alt: 'Visa',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
     alt: 'Ebay',
   },

   {
     src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
     alt: 'Youtube',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
     alt: 'Microsoft',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
     alt: 'Node JS',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
     alt: 'Google',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
     alt: 'Meta',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
     alt: 'Yahoo',
   },
 ]}
/> -->

  <!-- Note Widget ******************* -->
  <!-- <Note /> -->


  <!-- HighlightedPosts Widget ******* -->
  <BlogLatestPosts
    title="Artículos"
    information={`                `}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Únete ahora',
      href: getLocalizedPermalink('/about#joinus'),
      icon: 'tabler:rocket',
    }]}
  >
    <Fragment slot="title">¿Listas para despegar? </Fragment>

    <Fragment slot="subtitle">
      Únete a ACMA y descubre un universo de posibilidades.
    </Fragment>
  </CallToAction>
</Layout>

