---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'ACMA: Asociación Colombiana de Mujeres en Aeroespacial',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->  
  <Hero2
    tagline="Asociación Colombiana de Mujeres en Aeroespacial"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Únete',
        href: 'https://forms.gle/BVzbFWKxKjwiaxJx9',
        icon: 'tabler:rocket',
      },
    ]}
    image={{ 
      src: '~/assets/images/ACMA.png',
      alt: 'ACMA Logo',
      style: 'max-width: 80%; height: auto;',
    }}
  >
    <Fragment slot="title">
      ACMA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Somos tu aliado para brillar en el campo aeroespacial, cultivando una constelación de apoyo que impulsa tu crecimiento personal y profesional.
    </Fragment>
  </Hero2>

<!-- Stats Widget ****************** -->
<Stats
title="Descubre el universo ACMA"
subtitle="Somos una comunidad diversa y talentosa dedicada a promover la inclusión, el desarrollo profesional y la participación de las mujeres en el sector aeroespacial."
stats={[
  { title: 'Lanzada en', amount: '2021' },
  { title: 'Miembros', amount: '+400' },
  { title: 'Proyectos', amount: '+10' },
  { title: 'Becas', amount: '+20' },
]}
/>

 <!-- Features2 Widget ************** -->
 <Features2
 title="¿Qué te ofrecemos?"
 subtitle="Brindamos oportunidades y espacios de desarrollo para que las mujeres brillen en el sector aeroespacial."
 items={[
   {
     title: 'Proyectos',
     description:
       'Apoyamos la participación de mujeres en proyectos aeroespaciales, fomentando la inclusión y el desarrollo profesional.',
     icon: 'flat-color-icons:document',
   },
   {
     title: 'Becas',
     description:
       'Promovemos el acceso a oportunidades y el desarrollo profesional en el sector aeroespacial a través de becas y programas de formación.',
     icon: 'flat-color-icons:document',
   },
   {
     title: 'Charlas',
     description:
       'Brindamos espacios de diálogo y aprendizaje para fomentar el intercambio de conocimientos y experiencias en el sector aeroespacial.',
     icon: 'flat-color-icons:document',
   },
 ]}
/>
 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>

<!-- Features Widget *************** -->
<Features
 id="features"
 title="Nuestros proyectos"
 subtitle="Descubre cómo estamos impulsando el crecimiento y la participación de las mujeres en el sector aeroespacial."
 columns={3}
 items={[
   {
     title: 'Charlas y Conferencias',
     description:
       'Visibilizamos y promovemos la participación de mujeres en el sector aeroespacial.',
     icon: 'tabler:presentation',
   },
   {
     title: 'Mentorías',
     description: 'Conectamos a mujeres con profesionales del sector aeroespacial para brindar orientación y apoyo.',
     icon: 'tabler:heart-handshake',
   },
   {
     title: 'Ferias Universitarias',
     description: 'Participamos en la organización de ferias universitarias para promover el interés de las mujeres en el sector aeroespacial.',
     icon: 'tabler:stars',
   },
   {
     title: 'Concursos y Hackathons',
     description: 'Apoyamos equipos diversos en concursos y hackathons aeroespaciales.',
     icon: 'tabler:trophy',
   },
   {
     title: 'Proyectos de Investigación',
     description:
       'Colaboramos en proyectos de investigación en el sector aeroespacial.',
     icon: 'tabler:device-laptop',
   },
   {
     title: 'Becas',
     description: 'Ofrecemos becas para fomentar el acceso y el desarrollo profesional en el sector aeroespacial.',
     icon: 'tabler:award',
   },
 ]}
/>

 <!-- Brands Widget ****************** -->
 <Brands
 title="Aliados"
 subtitle="En ACMA, confiamos en el poder de la colaboración para impulsar la innovación y crecer juntos en el sector aeroespacial."
 icons={[]}
 images={[
   {
     src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
     alt: 'Paypal',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
     alt: 'Visa',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
     alt: 'Ebay',
   },

   {
     src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
     alt: 'Youtube',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
     alt: 'Microsoft',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
     alt: 'Node JS',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
     alt: 'Google',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
     alt: 'Meta',
   },
   {
     src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
     alt: 'Yahoo',
   },
 ]}
/>

  <!-- Note Widget ******************* -->
  <Note />


  <!-- HighlightedPosts Widget ******* -->
  <BlogLatestPosts
    title="Encuentra todos nuestros artículos en nuestro blog"
    information={`                `}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[{
      variant: "primary",
      target: '_blank',
      text: 'Inscríbete ahora',
      href: 'https://forms.gle/BVzbFWKxKjwiaxJx9',
      icon: 'tabler:rocket',
    }]}
  >
    <Fragment slot="title">¿Listas para despegar? </Fragment>

    <Fragment slot="subtitle">
      Únete a ACMA y descubre un universo de posibilidades.
    </Fragment>
  </CallToAction>

<!-- Testimonials Widget *********** -->
<Testimonials
title="Client testimonials"
subtitle="Discover what clients have to say about their experiences working with me."
testimonials={[
  {
    testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
    name: 'Mark Thompson',
    job: 'Creative director',
    image: {
      src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Mark Thompson Image',
    },
  },
  {
    testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
    name: 'Emily Martinez',
    job: 'CEO',
    image: {
      src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
      alt: 'Emily Martinez Image',
    },
  },
  {
    testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
    name: 'Laura Simmons',
    job: 'Founder of an NGO',
    image: {
      src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Laura Simmons Image',
    },
  },
  {
    testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
    name: 'Alex Foster',
    job: 'Director of web services',
    image: {
      src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Alex Foster Image',
    },
  },
  {
    testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
    name: 'Jessica Collins',
    job: 'Product Manager',
    image: {
      src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
      alt: 'Jessica Collins Image',
    },
  },
  {
    testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
    name: 'Michael Carter',
    job: 'Event Coordinator',
    image: {
      src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Michael Carter Image',
    },
  },
]}
/>

</Layout>