---
import { SITE } from '~/utils/config';
---

<a href="/">
	<img
		src="~/assets/favicon/ACMA.png" alt="ACMA Logo"
	/>
</a>
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="/assets/favicon/ACMA.png" alt="ACMA Logo" />
  {SITE?.name}
</span>
