---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';

import { getPermalink } from '~/utils/permalinks';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const activeLanguage = getLangFromUrl(Astro.url);
const t = useTranslations(activeLanguage);

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = t('blog.new'), nextText = t('blog.prev')} = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="container flex">
      <div class="flex flex-row mx-auto container justify-between">
        <Button
          variant="tertiary"
          class={`md:px-3 px-3 mr-2 ${!prevUrl ? 'invisible' : ''}`}
          href={getPermalink(activeLanguage, prevUrl)}
        >
          <Icon name="tabler:chevron-left" class="w-6 h-6" />
          <p class="ml-2">{prevText}</p>
        </Button>

        <Button variant="tertiary" class={`md:px-3 px-3 ${!nextUrl ? 'invisible' : ''}`} href={getPermalink(activeLanguage, nextUrl)}>
          <span class="mr-2">{nextText}</span>
          <Icon name="tabler:chevron-right" class="w-6 h-6" />
        </Button>
      </div>
    </div>
  )
}
