---
import { languages } from '~/i18n/ui';
import { getLangFromUrl } from '~/i18n/utils';
import { getLocalizedHomePermalink} from '~/utils/permalinks';

const activeLanguage = getLangFromUrl(Astro.url);

const filteredLanguages = Object.entries(languages).filter(([lang]) => lang !== activeLanguage);
---
        <ul>
            {filteredLanguages.map(([lang, label]) => (
                <li key={lang}>
                    <a href={getLocalizedHomePermalink(lang)}>{label}</a>
                </li>
            ))}
        </ul>
